body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/fond/fond.jpeg);

}

/* bande de lien header */
header {
    background-color: white;
}

.logo img {
    width: 150px;
    height: 150px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.logo span {
    font-size: 12px;
    color: rgb(13, 12, 12);

}

.logo h2 {
    color: rgb(16, 16, 16);
    font-size: 18px;
}

.lien {
    background-color: rgb(6, 6, 6);
    padding: 25px 30px;
    font-weight: bold;
    text-align: center;

}

.lien a {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(250, 245, 245);
}

.risia {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.HP {
    align-items: center;
    padding-bottom: 2%;

}

.icon {
    width: 10px;
    height: 10px;
}



/* debut du texte */
.banniere {
    background-image: url(/image/SP.jpg);
    height: 500px;
    background-size: cover;
}

main {
    padding: 40px;
}

.ecrit P {
    font-size: 20px;
}

.image {
    height: auto;
    width: 100%;
}

.image img {
    width: 100%;
    border-radius: 15px;
}

.container {
    display: flex;
    gap: 30px;
}